body {
    background: #101820;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 42px;
}

.stats {
    font-size: 20px;
    margin: 20px;
}
#map {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
    gap: 4px;
    width: 636px;
    height: 636px;
    margin: 25px auto;
}
.tile {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    border: 2px solid #222;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile:hover {
    transform: scale(1.05);
}

.player {
    background: #2878d8;
}

.neutral {
    background: #4b5563;
}

.enemy {
    background: #a83232 !important;
}

.city {
    background: #8b5cf6;
}

.village {
    background: #d97706;
}



button {
    padding: 12px 18px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background: #2878d8;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #4090ee;
}

#message {
    font-size: 18px;
    min-height: 25px;
}

.mountain {
    background: #555555 !important;
    color: white !important;
}

.farmland {
    background: #b8860b !important;
    color: white !important;
}
